<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elab.rs chatbot</title>

    
    <link rel="stylesheet" href="static/style.css">
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    <h1>Elab.rs chatbot</h1>
    <div>
        <div id="chatbox">
            <p class="botText"><span>Zdravo! Kako ti mogu pomoci danas?</span></p>
        </div>

        <div id="userInput">
            <input type="text" id="textInput" name="msg" placeholder="Unesi pitanje">
            <input type="submit" id="buttonInput" value="Send">
        </div>
        <p><span class="userText"></span></p>

        
        <script>
            function getBotResponse(){
                
                var userPitanje = $("#textInput").val();
                var userHTML = '<p class="userText"><span >'+userPitanje+'</span></p>';
                $("#textInput").val("");
                $("#chatbox").append(userHTML);

                
                $.get('/get',{poruka:userPitanje}).done(function(data){
                    var botHTML = '<p class="botText"><span>'+data+'</span></p>';
                    $("#chatbox").append(botHTML);
                    document.getElementById('userInput').scrollIntoView({block:"start", behavior:"smooth"}); 
                });
            }

            
            $("#textInput").keypress(function(e){
                if(e.which==13){ 
                    getBotResponse();
                }
            });
            
            $("#buttonInput").click(function(){
                getBotResponse();
            })
        </script>
    </div>
</body>
</html>